<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/exercises']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">EXERCISES</a>
  <a [routerLink]="['/nutrition']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">NUTRITION</a>  
  <a [routerLink]="['/supplements']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">SUPPLEMENTS</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
</nav>
